# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore.

.gcloudignore
.git
.gitignore
*.md
*.sh
*.bat
__pycache__/
*.pyc
.env
*.local
